$link: #0B4FA3;
$blue: #859ec8;
$red: #812517;

$superLightGrey: #f6f6f6;
$lightGrey: #ededed;
$moderatelyLightGrey: #dadada;
$grey: #c6c6c6;
$darkGrey: #808080;
$superDarkGrey: #646464;

$main-padding: 0.7em;

$readable-width: 1200px;

@mixin list-box {
    padding: 0 0.5em;

    border-left: 2px solid $blue;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
@mixin button {
    margin: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid darken($link,10%);
    background: $link;
    border-radius: 0.25em;
    color: white;
}
@mixin sidebox {
    width: 300px;
    background: $lightGrey;
    box-shadow: 1px 1px 2px #dadada;
    background-color: $lightGrey;
    padding: 0 20px 0 20px;
    word-wrap: break-word;
    .list-box {
        border-left: none;
    }
}