@import 'variables';

.co-main {
    padding: 0.5em 1em;
    float: left;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    .subheader {
        width: 100%;
    }
}
.co-aside {
    max-width: 300px;
}
.target-datasets {
    max-width: 60%;
}
.button {
    @include button;
    align-self: flex-start;
}
.sidebox {
    background: $lightGrey;
    box-shadow: 1px 1px 2px #dadada;
    max-width: 30%;
    width: 20em;
}

.mission-header, .target-header, .instrument-header, .spacecraft-header {
    color: white;
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.mission-header, .target-header, .instrument-header {
    img {
        max-height: 10em;
        ~ h1 {
            margin-left: 1em;
        }
    }
    h1 {
        font-size: 2em;
    }
    & ~ aside {
        margin-top: -2em;
    }
}
.spacecraft-header {
    img {
        max-height: 3em;
        ~ h1 {
            margin-left: 1em;
        }
    }
    h1 {
        font-size: 1.5em;
    }
    .header-supplemental-text {
        display: none;
    }
}

.target-header, .spacecraft-header, .mission-header {
    background-color: black;
}

.instrument-header {
    background-color: $superDarkGrey;
}

.mission-spacecraft-button {
    background-color: black;
    color: white;
    padding: 10px;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0);
    img {
        max-height: 80px;
        max-width: 80px;
        ~ span {
            margin-left: 1em;
        }
    }
}