@import 'variables';

.co-main {
    padding: 0.5em 1em;
    float: left;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    .subheader {
        width: 100%;
    }
}
.co-aside {
    max-width: 300px;
}
.target-datasets {
    max-width: 60%;
}
.button {
    @include button;
    align-self: flex-start;
}
.sidebox {
    background: $lightGrey;
    max-width: 30%;
    width: 20em;
}