@import 'variables';


.co-main {
    padding: $main-padding;
    
    header:not(.subheader) { 
        margin-top: -$main-padding;
        margin-left: -$main-padding;
        margin-right: -$main-padding;
        margin-bottom: $main-padding
    }
    .subheader {
    }
}
.co-aside {
    max-width: 300px;
}
.button {
    @include button;
    align-self: flex-start;
    text-align: center;
}
.sidebox {
    @include sidebox;
}

.mission-header, .target-header, .instrument-header, .spacecraft-header {
    color: white;
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.mission-header, .target-header, .instrument-header {
    img {
        max-height: 10em;
        ~ h1 {
            margin-left: 1em;
        }
    }
    h1 {
        font-size: 2em;
    }
    & ~ aside {
        margin-top: -2em;
    }
}
.spacecraft-header {
    img {
        max-height: 3em;
        ~ h1 {
            margin-left: 1em;
        }
    }
    h1 {
        font-size: 1.5em;
    }
    .header-supplemental-text {
        display: none;
    }
}

.target-header, .spacecraft-header, .mission-header {
    background-color: black;
}

.instrument-header {
    background-color: $superDarkGrey;
}
.mission-spacecraft-list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.mission-spacecraft-button {
    background-color: black;
    color: white;
    padding: 1em;
    height: 80px;
    min-width: 10em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0);
    img {
        max-height: 80px;
        max-width: 80px;
        ~ span {
            margin-left: 1em;
        }
    }
}