@import 'variables';

.list-box {
    @include list-box;
    
    margin-bottom: 2em;
    padding: 0.5em;
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
    
    .title-box {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
    }
    
    .title {
        margin: 0 0.5em 0.5em 0;
    }
    
    .list {
        li {
            list-style-position: outside;
        }
    }
}
.expandable {
    margin: 0 0 0.3em 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    
    .collapse, .expand {
        margin-right: 0.5em;
        height: 2.2em;
    }
}
