@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $fontColor;
}
html, body, main {
    min-height: 100%;
    background-color: #12181D;
}
.menu-link {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    z-index: 99;
}
a:not(.MuiButtonBase-root), .link {
    cursor: pointer;
    color: $link;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.inline-link {
    margin: 0 0.3em;
    text-decoration: underline;
}
.sidebox {
    display: flex;
    flex-flow: column;
    position: relative;
}
.resource-description {
    margin-bottom: 2em;
    white-space: pre-line;
    max-width: $readable-width;

}

.tiny-icon {
    height: 1.5em;
}

main aside.main-aside {
    box-sizing: border-box;
    @include narrow-only {
        width: 100%;
        margin-bottom: 1em;
    }
    @include medium-up {
        float: right;
        margin-left: 10px;
        section {
            margin-right: 15px;
            margin-bottom: 1em;
        }
    }
    @include wide-up {
        max-width: 35%;
    }
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.download-size {
    font-size: 0.7em;
}

.related-context-objects {
    @include sidebox;

    ul, p {
        font-weight: bold;
        list-style: none;
        padding-left: 0;
        .datum {
            margin-left: 1em;
            font-weight: normal;
        }        
    }
}

.related-references {
    display: flex;
    flex-flow: row wrap;
    section {
        flex: 1;
        min-width: 350px;
    }
}

.clearfix:after {
    content: " "; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

.dataset-downloads {
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 0;
    }
    li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        margin-left: 0;
        padding: 1em;

        img {
            height: 1.5em;
            margin-right: 0.8em;
        }
    }
}

.mission-phase-table {
    border-collapse: collapse;
    td, th {
        padding: 5px;
        border: 1px solid #444
    }
}